@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

@layer base {
  body {
    @apply relative text-base font-normal bg-gray-50 font-sans;
  }
}
